body {
    background-color: aquamarine;
    color: hotpink;
}

.heading {
    width: 100%;
    top: 0px;
    box-shadow: 15px 15px 20px rgb(255, 102, 0);
    font-size: 40px;

}

p {
    font-size: 30px;
    color: rgb(73, 167, 255);
}

#camera {
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}

#object-names,
#object_accuracy {
    color: palevioletred;
}